.register-container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

.register-container h2 {
  text-align: center;
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.toggle-btn {
  margin-top: 5px;
  background: pink;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.toggle-btn:hover {
  background: black;
  color: white;
}

.register-btn, .login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.register-btn {
  background-color: rgb(236, 101, 124);
  color: white;
}

.login-btn {
  background-color: #add8e6; /* baby blue */
  color: black;
}