.create-user-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.create-btn {
  background-color: pink;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.create-btn:hover {
  background-color: black;
  color: white;
}